<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
    <title>Kingdom</title>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/game.css">
    <link rel="stylesheet" href="/css/characterAndInventory.css">
    <link rel="stylesheet" href="/css/skillTree.css">

</head>
<body>

<%- include('./partials/navbar.ejs') %>

<div id="char-inventory-container" class="nav-panel" style="display: none;"></div>

<div id="skill-tree-container" class="nav-panel" style="display: none;">
  <%- include('partials/skillTree') %>
</div>


  <%- include('./partials/scripts.ejs') %>
  <script src="/js/characterAndInventory.js"></script>
    <script src="/js/SkillTree.js"></script>
    <script src="/js/navbar.js"></script>
    <script>
  const itemsData = <%- JSON.stringify(allItems) %>;
</script>
</body>
</html>